[Unit]
Description=GRÅCC RAW Record Processor
Documentation=https://opensciencegrid.github.io/gracc
Wants=network-online.target
After=network-online.target

[Service]
User=gracc
Group=gracc
Type=simple
Restart=on-failure
EnvironmentFile=/etc/gracc-stash/defaults.env
Environment=GRACC_INSTANCE=gracc
Environment=GRACC_STREAM=gracc
ExecStart=/opt/logstash/bin/logstash -f /etc/gracc-stash/gracc-raw.conf --allow-env
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
