[Unit]
Description=GRÅCC RAW Record Processor
Documentation=https://opensciencegrid.github.io/gracc
Wants=network-online.target
After=network-online.target

[Service]
User=gracc
Group=gracc
Type=simple
Restart=on-failure
ExecStart=/opt/logstash/bin/logstash -f /etc/gracc/gracc-raw.conf
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
